--extra-index-url https://download.pytorch.org/whl/cpu
fastapi 
uvicorn 
python-multipart
torch
torchvision
pandas
scikit-learn
opencv-python
matplotlib
notebook
sqlalchemy 
passlib[bcrypt] 
pyjwt 
python-multipart